
        body {
            font-family:Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
            background-image: url(css/img/ممم.jpg!f305cw);
            background-size: cover;
        }
        section {
            padding: 20px;
            margin-bottom: 20px;
        }
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            justify-items: center;
        }
        .gallery img {
            width: 100%;
            max-width: 300px;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .details {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            max-width: 1000px; /* Adjust max-width as needed */
            margin: 20px auto;
            text-align: right;
            line-height: 1.6;
            color: #333; /* Adjust text color as needed */
        }
        .details .text {
            flex: 1;
            padding-right: 20px; /* Adjust spacing as needed */
        }
        .details .video {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .video-container {
            position: relative;
            width: 100%; /* Adjust width as needed */
            max-width: 800px; /* Adjust max-width as needed */
            height: 0;
            padding-bottom: 56.25%; /* 16:9 Aspect Ratio (Responsive to width 800x450) */
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-left: 60px;
        }
        .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 10px;
           
        }
    

        .text {
            font-size: 20px;
            font-style: italic;
        }
        .k {
            font-size: larger;
            font-size: 45px;
        }
        .w { margin-right: 570px;
        border-radius: 5px;
    }
   